{% extends 'frc_scout/base.html' %}

{% block title %}FRC Scout - Home{% endblock %}

{% block nav %}{% include 'frc_scout/nav.html' %}{% endblock %}

{% block main_content %}
    <script>
        console.log("{{csrf_token}}");
    </script>
    <div class="row">

        {% if home_messages %}
            <div class="col-md-10 col-md-offset-1">
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <h3 class="panel-title">Information</h3>
                    </div>
                    <div class="panel-body">
                        {{ home_messages }}
                    </div>
                </div>
            </div>
        {% endif %}

        {% if user.userprofile.message %}
            <div class="col-md-10 col-md-offset-1">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><span class="glyphicon glyphicon-hand-right"></span>&nbsp; Message from team manager</h3>
                    </div>
                    <div class="panel-body">
                        {{ user.userprofile.message }}
                    </div>
                </div>
            </div>
        {% endif %}

        <div class="col-md-10 col-md-offset-1">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">Scouting</h3>
                </div>
                <div class="panel-body">
                    <a class="btn btn-success btn-super btn-fill" href="{% url "frc_scout:match_scouting" %}">Scout a Match</a>
                    <a class="btn btn-success btn-super btn-fill" href="{% url "frc_scout:match_scouting_practice" %}">Practice Match Scouting</a>
                    <a class="btn btn-success btn-super btn-fill" href="{% url "frc_scout:pit_scouting" %}">Pit Scout a Team</a>
                    <button id="submit_pending" class="btn btn-success btn-super" style="display: none;" onclick="submitData();">Submit Pending match data</button>
                    <h6 class="btn-super" style="color: #37883A; font-weight: bold;">In order to scout offline, you must select "Scout a Match" and keep the page loaded.</h6>
                </div>
            </div>
        </div>

        {% if user.userprofile.team_manager %}
            <div class="col-md-10 col-md-offset-1">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">Team Management</h3>
                    </div>
                    <div class="panel-body">
                        <a class="btn btn-info btn-super btn-fill" href="{% url 'frc_scout:view_scouts' %}">Manage Scouts</a>
                        <a class="btn btn-info btn-super btn-fill" href="{% url 'frc_scout:find_match' %}">Edit Matches</a>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="col-md-10 col-md-offset-1">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">Data Management</h3>
                    </div>
                    <div class="panel-body">
                        <a class="btn btn-info btn-super btn-fill" href="{% url 'frc_scout:find_match' %}">Edit Scouted Matches</a>
                    </div>
                </div>
            </div>
        {% endif %}

        <div class="col-md-10 col-md-offset-1">
            <div class="panel panel-primary">        
                <div class="panel-heading">
                    <h3 class="panel-title">Results</h3>
                </div>
                <div class="panel-body">
                    <a class="btn btn-primary btn-super btn-fill" href="{% url 'frc_scout:tableau_info' %}">Integrate with Tableau</a>
                    <a class="btn btn-primary btn-super btn-fill" href="{% url "frc_scout:heatmap" %}">Look At Data</a>
                    <button class="btn btn-primary btn-super btn-fill" onclick = "submitData()">Submit Pending Matches</button>
                </div>
            </div>
        </div>

        <div class="col-md-10 col-md-offset-1">
            <div class="panel panel-event">
                <div class="panel-heading">
                    <h3 class="panel-title">Event</h3>
                </div>
                <div class="panel-body">
                    <a class="btn btn-event btn-super btn-fill" href="{% url "frc_scout:teams_at_event" %}">Teams here</a>
                </div>
            </div>
        </div>

        <div class="col-md-10 col-md-offset-1">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <h3 class="panel-title">Account Management</h3>
                </div>
                <div class="panel-body">
                    <a class="btn btn-warning btn-super btn-fill" href="{% url 'frc_scout:update_profile' %}">Update Profile</a>
                    <a class="btn btn-warning btn-super btn-fill" href="{% url 'frc_scout:logout' %}">Log Out</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    {% load compress %}
    {% compress js inline %}
        <script type="text/javascript">
            $(function() {
                $("a[href=#]").attr('disabled', true);

                if(getPendingMatches().length !== 0) {
                    $("#submit_pending").show();
                }

                localStorage.removeItem('eventSchedule');
                localStorage.removeItem('teamsAtEvent');

                $.getJSON("https://www.thebluealliance.com/api/v2/event/2016{{ event_code }}/matches?X-TBA-App-Id=frc1899:frcscout.com:v2", function(data) {
                    localStorage.eventSchedule = JSON.stringify(data);
                });

                $.getJSON("https://www.thebluealliance.com/api/v2/event/2016{{ event_code }}/teams?X-TBA-App-Id=frc1899:frcscout.com:v2", function(data) {
                    localStorage.teamsAtEvent = JSON.stringify(data);
                });
            });

            var submitting = false;
            var popData;
            function submitData(){
                attemptMatchSubmission();
                attemptPitSubmission();
            }
function attemptMatchSubmission(){
    if(localStorage.getItem("matches") && !submitting){
        submitting = true;
        var item = $.ajax({
            url: '/scouting/match/submit/',
            method: "POST",
            data: {
                csrfmiddlewaretoken: $.cookie('csrftoken'),
                data: localStorage.getItem("matches")
            },
            statusCode:{
                500:function(){
                    alert("Internal Server error");
                },
                400:function(){
                    alert("Your data had an issue");
                },
                403:function(){
                    alert("You're forbidden");
                }
            },
            success: function(){
                localStorage.setItem("matches", null);
                alert("You did it!");
                submitting = false;
            }
        });
    }
}
function attemptPitSubmission(){
    if(localStorage.getItem("pitscout")){
        popData = localStorage.getItem("pitscout");
        data = JSON.stringify(localStorage.getItem("pitscout"));
        for(var pit of data){
        $.ajax({
                    url: '/scouting/pit/submit/',
                    type: "POST",
                    data: {
                        csrfmiddlewaretoken: $.cookie('csrftoken'),
                        data: JSON.stringify(pit.formData),
                        image_data: JSON.stringify(pit.imageData)
                    },
                    success: function() {
                        alert("Submitted!");
                    },
                    error:function(response){
                        alert("Something went wrong!");
                        localStorage.setItem("pitscout", popData);
                    }
                })}
    }
}

        </script>
    {% endcompress %}
{% endblock %}

{% block footer %}{% include 'frc_scout/footer.html' %}{% endblock %}
